/* Attribution styles */
.attribution {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  transition: all .5s;
  a {
    color: #252525;

    &:hover {
      color: #444444;
    }
    &:active {
      color: #fff;
    }
  }
}
