.card-container {
    background-color: white;
    width: 375px;
    height: auto;
    font-family: kumbh-sans;
    text-align: center;
    border-radius: 15px;
  }
  
  .card-header {
    background-image: url(./images/bg-pattern-card.svg);
    height: 150px;
    border-radius: 15px 15px 0px 0px;
  }
  
  .profile-photo-card {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: 100px;
  }
  
  .info-card {
    height: auto;
    padding: 75px 0px 25px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 85%);
  }
  
  .card-title {
    width: 100%;
    font-family: kumbh-sans-bold;
    font-size: 22px;
    color: hsl(229, 23%, 23%);
  }
  
  .age-profile-card {
    font-family: kumbh-sans-light;
    color: hsl(227, 10%, 46%);
    margin-left: 10px;
  }
  
  .card-sub-title {
    font-family: kumbh-sans-light;
    color: hsl(0, 0%, 59%);
    font-size: 18px;
    margin-top: 10px;
  }
  
  .footer-card {
    height: auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .footer-title {
    font-family: kumbh-sans-bold;
    font-size: 22px;
    color: hsl(229, 23%, 23%);
  }
  
  .footer-sub-title {
    margin-top: 5px;
    font-family: kumbh-sans-light;
    font-size: 13px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
  }