.card-container {
  background-color: #fff;
  width: 85%;
  max-width: 330px;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 8px 10px rgb(0 0 0 / 50%);
  }
}

.card-header {
  background-image: url(../images/bg-pattern-card.svg);
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 75px;

  &#{__profile-photo} {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    transform: translateY(50%);
  }
}

.info-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 85%);

  &#{__title} {
    width: 100%;
    font-size: 19px;
    color: $card-title-fnt-color;
  }

  &#{__age} {
    color: $card-sub-title-fnt-color;
    font-weight: 400;
    font-size: 20px;
    margin-left: 7px;
  }
  &#{__sub-title} {
    color: $stats-description-fnt-color;
    font-size: 15px;
    font-weight: 400;
    margin: 10px auto 25px auto;
  }
}

.footer-card {
  padding: 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .card-stats {
    &#{__value} {
      font-size: 20px;
      color: $stats-value-fnt-color;
    }

    &#{__description} {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 400;
      color: $stats-description-fnt-color;
      letter-spacing: 2px;
    }
  }
}
