* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Main container styles*/

.main-container {
  min-height: 100vh;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -75vh -110vw,20vh 100vw;
}
