* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  // width: 100vw;
  // overflow-x: hidden;
}

.main-container {
  min-height: 100vh;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//   .bg-pattern-top {
//     position: fixed;
//     top: -500px;
//     left: -300px;
//     z-index: -1000;
//   }
//   .bg-pattern-bottom {
//     position: fixed;
//     bottom: -670px;
//     right: -200px;
//     z-index: -1000;
//   }
