/* Media queries*/

@media screen and (min-width: 450px) {
  .main-container {
    background-size: contain;
    background-position: -55vw -40vw, 35vh 50vh;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    background-size: 75vw;
    background-position: -25vw -35vw, 45vw 45vh;
  }
  .attribution {
    align-self: flex-end;
    transform: translate(-10vh, 15vh);
  }
}
