@media screen and (min-width: 200px) and (max-width: 425px) {
    .card-container {
      width: 90%;
    }
  
    .bg-pattern-top{
      top: -500px;
      left: -750px;
    }
    
    .bg-pattern-bottom{
      bottom: -500px;
      right: -700px;
    }
  }
  @media screen and (min-width: 426px) and (max-width: 768px) {
   
    .bg-pattern-top{
      top: -500px;
      left: -750px;
    }
    
    .bg-pattern-bottom{
      bottom: -500px;
      right: -700px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
   
    .bg-pattern-top{
      top: -500px;
      left: -500px;
    }
    
    .bg-pattern-bottom{
      bottom: -600px;
      right: -400px;
    }
  }