/* Media queries*/
@media screen and (min-width: 500px) {
  .main-container {
    &::before {
      left: -70vh;
    }
    &::after {
      width: 10%;
      right: 50vh;
    }
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    &::before {
      left: -55vh;
      top: -65vh;
    }
    &::after {
      right: 75vh;
      bottom: -70vh;
    }
  }
  .attribution {
    align-self: flex-end;
    transform: translate(-10vh, 15vh);
  }
}
@media screen and (min-width: 1300px) {
  .main-container {
    &::before {
      left: -35vh;
      top: -70vh;
    }
  }
}