// Main container 
$main-bg-color: hsl(185, 75%, 39%);


// Card variables
// Header card colors
$card-title-fnt-color: hsl(229, 23%, 23%);
$card-sub-title-fnt-color: hsl(227, 10%, 46%);
// Stats section colors
$stats-value-fnt-color: hsl(229, 23%, 23%);
$stats-description-fnt-color: hsl(0, 0%, 59%);